---
---

$navbar-logo-font-stack: 'Abel', 'Arial', sans-serif;
$navbar-main-font-family: 'Arial';

$navbar-colour: #7F3300;
$navbar-text-colour: #FFFFFF;

$footer-colour: #321400;
$footer-text-colour: #7A4623;

/**************************************************/
/*                                                */
/*  CSS for www.bedder.co.uk overall design.      */
/*  Made by Matthew Bedder, but feel free to use! */
/*                                                */
/**************************************************/


/**************************************************/
/*  Navbar and logo                               */
/**************************************************/
#navbar {
  // Location
  top: 0;
  // Size
  width: 100%;
  height: 40px;
  // Visuals
  background-color: $navbar-colour;

  a div.nav-logo {
    // Location
    display: inline-block;
    // Size
    width: 30px;
    height: 100%;
    padding: 0 10px 0 10px;
    margin: 3px 0 0 0;
    // Visuals
    color: $navbar-text-colour;
    font-family:  $navbar-logo-font-stack;
    text-decoration: none;
    font-size: 150%;
    font-weight: 800;      
  }

  ul {
    // Location
    position: absolute;
    display: inline-block;
    // Size
    width: -moz-calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
    padding: 0;
    margin: 0;

    li {
      // Location
      display: inline;
      // Size
      margin: 0 -5px 0 0;

      .nav-button {
        // Location
        display: inline-block;
        // Size
        width: 16.6%;
        height: 30px;
        padding: 5px 0 5px 0;
        // Visuals
        color: $navbar-text-colour;
        text-decoration: none;
        transition: 0.4s;

        .nav-button-icon {
          // Size
          height: 32px;
          padding: 0 5px;
        }

        .nav-button-text {
          // Location
          display: inline;
          vertical-align: super;
          // Visuals
          font-size: 125%;
        }
      }

      .nav-button.icon {
        // Size
        height: 30px;
      }

      .nav-button:hover {
        // Size
        height: 27px;
        // Visuals
        border-bottom: 3px solid $navbar-text-colour;
      }
    }
  }
}

@media only screen
and (max-width: 740px) {
  #navbar {
    // Size
    height: 81px;

    a div.nav-logo {
      // Size
      width: 60px;
    	margin: 12px 0 0 0;
      // Visuals
    	font-size: 300%;
    }

    ul {
      // Size
      width: -moz-calc(100% - 80px);
      width: -webkit-calc(100% - 80px);
      width: calc(100% - 80px);

      li a.nav-button {
        // Size
        width: 33.3%;
      }
    }
  }
}

@media only screen
and (max-width: 475px) {
  #navbar {
    // Size
    height: 40px;

    a div.nav-logo {
      // Size
      width: 30px;
      margin: 3px 0 0 0;
      // Visuals
      font-size: 150%;
    }

    ul {
      // Size
      width: -moz-calc(100% - 50px);
      width: -webkit-calc(100% - 50px);
      width: calc(100% - 50px);

      li a.nav-button {
        // Size
        width: 52px;

        div.nav-button-text {
          // Location
          display: none;
        }
        .nav-button-icon {
          // Size
          padding: 0 10px;
        }
      }
    }
  }
}

@media only screen
and (max-width: 380px) {
  #navbar ul li a.nav-button {
    // Size
    width: 42px;
    .nav-button-icon {
      // Size
      padding: 0 5px;
    }
  }
}

/**************************************************/
/*  Footer                                        */
/**************************************************/
#footer {
  // Location
  bottom: 0;
  // Size
  width: 100%;
  height: 30px;
  // Visuals
  background-color: $footer-colour;
  color: #FFFFFF;
}
#copyright {
  // Location
  float: left;
  // Size
  padding: 6px 0 0 5px;
}
#social-mini {
  // Location
  float: right;
  // Size
  padding: 3px 5px 0 5px;
}
#social-mini-text {
  // Location
  float: right;
  // Size
  padding: 6px 0;
}

@media only screen
and (max-width: 600px) {
  #copyright {
    // Size
    width: 100%;
    padding: 6px 0;
    // Visuals
    text-align: center;
  }
  #footer-social {
    // Location
    display: none;
  }
}

/**************************************************/
/*  "Sticky Footer" adjustments                   */
/*     (from http://www.cssstickyfooter.com/)     */
/**************************************************/
html, body { 
  height: 100%;
}
#wrap {
  min-height: 100%;
  main {
    overflow: auto;
    padding-bottom: 30px;
  }
}
footer {
  position: relative;
  margin-top: -30px;
  height: 30px;
  clear: both;
}
/* Opera Fix */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}