---
---

$navbar-colour: #C3C3C3;
$navbar-opacity: 0.75;
$navbar-text-colour: #000;

$menu-colour: #FFF;
$menu-opacity: 1;

$navbar-height: 45px;
$menu-button-width: 45px;

body { margin: 0px; }

header {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 99;
}

#navbar {
	width: 100%;
	height: $navbar-height;
	display: flex;
	display: webkit-flex;
	background-color: rgba($navbar-colour, $navbar-opacity);
}

#navbar a, #navbar a:visited {
	height: 100%;
	flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	color: black;
	text-decoration: none;
	border-right: solid 1px grey;
}

#navbar a, #navbar a:hover {
	transition: background-color 200ms linear;
	-webkit-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
}

a.navbar-home:hover     { background-color: #FF6969; }
a.navbar-about:hover    { background-color: #FFB074; }
a.navbar-posts:hover    { background-color: #FADF71; }
a.navbar-research:hover { background-color: #ACF39D; }
a.navbar-games:hover    { background-color: #ABEDF4; }
a.navbar-contact:hover  { background-color: #DFA4E5; }

#navbar a.navbar-title  { display: none;  }
#navbar a.navbar-button { display: block; }

#navmenu {
	display: none;
	position: absolute;
	top: 0;
	right: -45px;
	display: block;
}

#navmenu #menu-show-button {
	display: inline-block;
	background-color: rgba($navbar-colour, $navbar-opacity);
	color: $navbar-text-colour;
	width: 100%;
	height: $navbar-height;
	text-align: center;
	font-size: 45pt;
	line-height: 0.6;
}

#menu {
	position: relative;
	right: 130px;
	width: 0;
	top: -45px;
	height: 300px;
	overflow: hidden;

	transition-delay: 100ms;
	-webkit-transition-delay: 100ms;
}

#menu.active {
	width: 175px;
    transition-delay: 0ms;
	-webkit-transition-delay: 0ms;
}

#menu #background-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background-color: black;
	opacity: 0;

	transition: opacity 100ms linear;
	-webkit-transition: opacity 100ms linear;
	-ms-transition: opacity 100ms linear;
}

#menu #background-mask.active {
	width: 100%;
	height: 100%;
	opacity: 0.3;
}

#menu #menu-sidebar {
	position: absolute;
	top: 0;
	left: 200px;

	transition: left 100ms linear;
	-webkit-transition: left 100ms linear;
	-ms-transition: left 100ms linear;
}

#menu #menu-sidebar.active {
	left: 0px;
}

.menu-button {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 175px;
	height: $navbar-height;
	background-color: rgba($menu-colour, $menu-opacity);
	text-decoration: none;
}

// Media queries
@media
only screen and (max-width: 500px),
only screen and (max-device-width: 480px) {
	#navbar { width: calc(100% - 45px); }
	#navbar a.navbar-title  { display: block; }
	#navbar a.navbar-button { display: none;  }
	#navmenu { width: 45px; right: 0;}
}

// General classes
.vertical-align {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}