---
---

// Main font declaration
$font-family-stack: 'Arial', sans-serif;

// Main colours
$body-colour: #FFFFFF;
$body-text-colour: #000000;
$body-link-colour: #000000;
$navbar-colour: #7F3300;
$navbar-text-colour: #FFFFFF;

// Header colour parmeters
$navbar-colour: #C3C3C3;
$navbar-opacity: 0.75;
$navbar-text-colour: #000;
$menu-colour: #FFF;
$menu-opacity: 1;

// Header size parameters
$navbar-height: 45px;
$menu-button-width: 45px;

// Title colour parameters
$colour-change-saturation: 40%;
$colour-change-lightness: 60%;

// Footer colour parameters
$footer-colour: #C3C3C3;
$footer-opacity: 0.75;
$footer-text-colour: #000;

// Social logo colours
.bg-logo { color: #ffffff; }
.fb-logo { color: #3b5998; }
.tw-logo { color: #55acee; }
.gp-logo { color: #dd4b39; }
.li-logo { color: #0077b5; }
.gh-logo { color: #333333; }
.ic-logo { color: #bf252b; }
.gm-logo { color: #376aba; }

////////////////////////////////////////////////////////////////////////////////
// Main visuals
//////////////////////////////////////////////////////////////////////////////// 
main {
	padding: 45px 0;
}

body {
	vertical-align: middle;
	margin: 0;
	background-color: $body-colour;
	color: $body-text-colour;
	font-family: $font-family-stack;
	font-weight: 400;
}

.content {
	margin: 0;
	padding: 15px 5px;
}

.layout-outer {
	width: 700px;
	margin: 0 auto;
	text-align: left;
}

@media
only screen and (max-width: 720px) {
  .layout-outer {
    // Size
    width: 100%;
  }
}

.layout-inner {
	overflow: hidden;
	padding: 0 10pt 0 10pt;
}

////////////////////////////////////////////////////////////////////////////////
// Containers
//////////////////////////////////////////////////////////////////////////////// 

#wide-container {
  // Location
  display: table;
  // Size
  height: 100%;
  width: 100%;  
}

#canvas-container {
  // Size
  height: auto;
  width: 95%;
  overflow: scroll;
}

#content-box {
  // Position
  position: relative;
  left: calc(-50vw + 50%);
  // Size
  width: 100vw;
  padding: 10px 0 10px 0;
  // Visuals
  background-color: #EEE;

  #content {
    // Visuals
    text-align: center;
  }

  #caption {
    // Visuals
    font-size: 9pt;
    text-align: center;
  }
}

@media only screen
and (max-width: 640px) {
  #content-box #content #content-video {
    width: 100%;
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
  }
}

.vertical-align {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.javascript_warning {
  display: inline-block;
  padding: 5px 8px;
  background-color: rgb(255, 100, 100);
  border-radius: 5px;
  border: solid 1px black;
  font-weight: bold;
}

////////////////////////////////////////////////////////////////////////////////
// Navbar settings
//////////////////////////////////////////////////////////////////////////////// 

#navbar {
  width: 100%;
  height: $navbar-height;
  display: flex;
  display: webkit-flex;
  background-color: rgba($navbar-colour, $navbar-opacity);
}

#navbar a, #navbar a:visited {
  height: 100%;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  color: black;
  text-decoration: none;
  border-right: solid 1px grey;
}

#navbar a, #navbar a:hover {
  transition: background-color 200ms linear;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
}

#navbar .fa {
  padding-right: 5px;
}

a.navbar-home:hover     { background-color: #FF6969; }
a.navbar-about:hover    { background-color: #FFB074; }
a.navbar-posts:hover    { background-color: #FADF71; }
a.navbar-research:hover { background-color: #ACF39D; }
a.navbar-games:hover    { background-color: #ABEDF4; }
a.navbar-contact:hover  { background-color: #DFA4E5; }

#navbar a.navbar-title  { display: none;  }
#navbar a.navbar-button { display: block; }

#navmenu {
  display: none;
  position: absolute;
  top: 0;
  right: -45px;
  display: block;
}

#navmenu #menu-show-button {
  display: inline-block;
  background-color: rgba($navbar-colour, $navbar-opacity);
  color: $navbar-text-colour;
  width: 100%;
  height: $navbar-height;
  text-align: center;
  font-size: 45pt;
  line-height: 0.6;
}

#menu-show-button .fa {
  position: relative;
  top: -5px;
  font-size: 0.5em;
}


////////////////////////////////////////////////////////////////////////////////
// Menu settings
//////////////////////////////////////////////////////////////////////////////// 

#menu {
  position: relative;
  right: 130px;
  width: 0;
  top: -45px;
  height: 300px;
  overflow: hidden;

  transition-delay: 100ms;
  -webkit-transition-delay: 100ms;
}

#menu.active {
  width: 175px;
    transition-delay: 0ms;
  -webkit-transition-delay: 0ms;
}

#menu #background-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: black;
  opacity: 0;

  transition: opacity 100ms linear;
  -webkit-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
}

#menu #background-mask.active {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

#menu #menu-sidebar {
  position: absolute;
  top: 0;
  left: 200px;

  transition: left 100ms linear;
  -webkit-transition: left 100ms linear;
  -ms-transition: left 100ms linear;
}

#menu #menu-sidebar.active {
  left: 0px;
}

.menu-button {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 175px;
  height: $navbar-height;
  background-color: rgba($menu-colour, $menu-opacity);
  text-decoration: none;
}

@media
only screen and (max-width: 615px),
only screen and (max-device-width: 480px) {
  #navbar { width: calc(100% - 45px); }
  #navbar a.navbar-title  { display: block; }
  #navbar a.navbar-button { display: none;  }
  #navmenu { width: 45px; right: 0;}
}

////////////////////////////////////////////////////////////////////////////////
// Titles
//////////////////////////////////////////////////////////////////////////////// 
#title-bar {
	position: relative;
	padding: 12px 55px;
  animation:colour-change 240s forwards infinite;
  animation-delay: 0.01s;
	color: white;
	h1 {
		font-size: 30pt;
		margin: 0;
	}
	h4 {
		position: relative;
		left: 2px;
		margin: 0;
		font-size: 10pt;
		line-height: 0.75;
	}
}

@keyframes colour-change {
  0%    { background:hsl(0,   $colour-change-saturation,
                              $colour-change-lightness); }
  12.5% { background:hsl(45,  $colour-change-saturation,
                              $colour-change-lightness); }
  25%   { background:hsl(90,  $colour-change-saturation,
                              $colour-change-lightness); }
  37.5% { background:hsl(135, $colour-change-saturation,
                              $colour-change-lightness); }
  50%   { background:hsl(180, $colour-change-saturation,
                              $colour-change-lightness); }
  62.5% { background:hsl(225, $colour-change-saturation,
                              $colour-change-lightness); }
  75%   { background:hsl(270, $colour-change-saturation,
                              $colour-change-lightness); }
  87.5% { background:hsl(315, $colour-change-saturation,
                              $colour-change-lightness); }
  100%  { background:hsl(360, $colour-change-saturation,
                              $colour-change-lightness); }
}

h2 {
	margin: 10px 0;
}

h3 {
	margin: 5px 0;
}

p {
	margin: 5px 0 15px 0;
}

////////////////////////////////////////////////////////////////////////////////
// Footer
//////////////////////////////////////////////////////////////////////////////// 

#footer {
  // Location
  bottom: 0;
  // Size
  width: 100%;
  height: 36px;
  // Visuals
  background-color: rgba($footer-colour, $footer-opacity);
  color: $footer-text-colour;
}

#social-mini {
  // Location
  float: right;
  // Size
  padding: 3px 5px 0 5px;

  .fa-stack {
    width: 1.7em;
    .fa-square { 
      text-shadow: 0.1px 0.1px 0px #000000;
    }
  }

  a {
    img {
      // Position
      vertical-align: middle;
    }
  }
}

#copyright {
  // Location
  float: left;
  // Size
  padding: 11px 0 0 5px;
}

#social-mini-text {
  // Location
  float: right;
  // Size
  padding: 11px 0 0 5px;
}

@media only screen
and (max-width: 600px) {
  #copyright {
    // Size
    width: 100%;
    padding: 6px 0;
    // Visuals
    text-align: center;
  }
  #footer-social {
    // Location
    display: none;
  }
}

////////////////////////////////////////////////////////////////////////////////
// "Sticky Footer" adjustments (from http://www.cssstickyfooter.com/)
//////////////////////////////////////////////////////////////////////////////// 

html, body { 
  height: 100%;
}
#wrap {
  min-height: 100%;
  main {
    overflow: auto;
  }
}
footer {
  position: relative;
  margin-top: -36px;
  height: 36px;
  clear: both;
}
/* Opera Fix */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 99;
}