---
---

.postEntry {
	margin: 0 auto 5px auto;
	line-height: 0;
	background-color: #B37A4A;

	a {
		text-decoration: none;
	}

	.date {
		display: block;
		margin: 0 0 0 0;
		padding: 10px 0 2px 5px;
		color: #FFFFFF;
		font-weight: 700;
		font-size: 10pt;
	}

	.title {
		display: inline-block;
		margin: 16px 0 0 5px;
		color: #000000;
		font-weight: 700;
		font-size: 18pt;
	}

	.subtitle {
		margin-left: 5px;
		color: #333333;
		display: inline-block;
		font-size: 10pt;
	}

	.description {
		padding: 0 0 10px 8px;
		margin: 0 0 0 0;
		color: #DDDDDD;
		line-height: 100%;
	}
}

@media only screen and (max-width: 450px) {
	.postEntry { width: 100%; }
}