---
---
#posts {
	padding: 0;
}

.postEntry {
	background-color: #DDD;
	text-decoration: none;
	margin: 10px 0;
	padding: 10px;
}

.postEntry a {
	text-decoration: none;
}

.postEntry a .date {
	margin: 2px 5px;
	font-size: 10pt;
}

.postEntry a .title, .postEntry a .subtitle {
	display: inline-block;
	margin: 5px 0 15px 5px;
	font-size: 15pt;
	line-height: 0;
}

.postEntry a .title {
	font-weight: bolder;
}

.postEntry a .subtitle {
	font-weight: lighter;
}

.postEntry a .description {
	margin: 0 5px;
	font-size: 10pt;
}

.next, .prev {
  display: inline-block;
  width: 49%;
}

.next {
  text-align: right;
}