---
---

$project-view-width: 350px;
$project-view-height: 350px;

$footer-red: #CE1836;
$footer-orange: #F85931;
$footer-yellow: #EDB92E;
$footer-green: #A3A948;
$footer-blue: #009989;
$footer-indigo: #492D61;

.project-box {
  display: inline-block;
  position: relative;
  height: $project-view-height;
  width: $project-view-width;

  [type=checkbox] {
    height: 0;
    width: 0;
  }

  img {
    height: $project-view-height;
    width: $project-view-width;
  }
}

.project-show {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.project-background {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  
  opacity: 0;
  transition: 1s;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}

.project-link {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  text-align: center;
  
  opacity: 0;
  transform: translateY(20px);
  transition: 0.2s;
}

.project-box [type=checkbox]:checked ~ .project-background{
  opacity: 0.9;
}

.project-box [type=checkbox]:checked ~ .project-info{
  opacity: 0.9;
  transform: translateY(0px);
}

.project-box [type=checkbox]:checked ~ .project-link {
  opacity: 0.9;
  transform: translateY(0px);
}
