---
---

$body-colour: #FFFFFF;
$body-text-colour: #000000;
$body-link-colour: #000000;

$navbar-colour: #7F3300;
$navbar-text-colour: #FFFFFF;

$font-family-stack: 'Arial', sans-serif;

/*
 * Site CSS
 */

body {
  font-family: $font-family-stack;
  font-weight: 400;
  color: $body-text-colour;
  background-color: $body-colour;

  margin: 0pt;

  vertical-align: middle;

  overflow-y: scroll; // This is hacky, but adds some consistency
}

h1 {
  font-weight: 700;
  font-size: 400%;
  line-height: 90%;

  color: $body-text-colour;
  text-decoration: none;

  a {
    color: $body-link-colour;
    text-decoration: none;
  }

  a:visited {
  }

  a:hover {
    text-decoration: underline;
  }
}

h2 {
  font-weight: 700;
  font-size: 200%;
  line-height: 50%;
}

.layout-outer {
  width: 700px;
  text-align: left;
  margin: 0 auto 30px auto;
}

@media only screen and (max-width: 720px) {
  .layout-outer {
    width: 100%;
  }
}

.layout-inner {
  padding: 0 10pt 0 10pt;
}

#social-mini {
  a {
    img {
      vertical-align: middle;
    }
  }
}


@media only screen and (max-width: 720px), only screen and (max-device-width: 480px) {
  h1 {
    width: 100%;
  }

  #outer {
    width: 99%;
  }
}

#wide-container {
  display: table;
  height: 100%;
  width: 100%;  
}

#canvas-container {
  height: auto;
  width: 95%;

  overflow: scroll;
}

#social-large {
  text-align: center;

  a {
    img {
      position: relative;
      width: 30%;
    }
  }
}

#content-box {
  background-color: #EEE;
  padding: 10px 0 10px 0;
  position: relative;
  left: calc(-50vw + 50%);
  width: 100vw;

  #content {
    text-align: center;
  }

  #caption {
    font-size: 9pt;
    text-align: center;
  }
}