---
---

$body-colour: #FFFFFF;
$body-text-colour: #000000;
$body-link-colour: #000000;

$navbar-colour: #7F3300;
$navbar-text-colour: #FFFFFF;

$footer-colour: #321400;
$footer-text-colour: #7A4623;

$footer-red: #CE1836;
$footer-orange: #F85931;
$footer-yellow: #EDB92E;
$footer-green: #A3A948;
$footer-blue: #009989;
$footer-indigo: #492D61;

$font-family-stack: 'Arial', sans-serif;

/*
 * Site CSS
 */

body {
  font-family: $font-family-stack;
  font-weight: 400;
  color: $body-text-colour;
  background-color: $body-colour;

  margin-left: 0pt;
  margin-top: 0pt;

  vertical-align: middle;

  overflow-y: scroll; // This is hacky, but adds some consistency
}

h1 {
  font-weight: 700;
  font-size: 400%;
  line-height: 90%;
  padding-top: 20pt;

  color: $body-text-colour;
  text-decoration: none;

  a {
    color: $body-link-colour;
    text-decoration: none;
  }

  a:visited {
  }

  a:hover {
    text-decoration: underline;
  }
}

h2 {
  font-weight: 700;
  font-size: 200%;
  line-height: 75%;
}

.layout-outer {
  width: 700px;
  text-align: left;
  margin: 0 auto;
}

@media only screen and (max-width: 720px) {
  .layout-outer {
    width: 100%;
  }
}

.layout-inner {
  padding: 0 10pt 0 10pt;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 999;

  width: 100%;
  height: 40px;

  background-color: $navbar-colour;

  ul {
    position: absolute;
    margin-top: 0px;
    padding-left: 0px;
    width: 100%;

    li {
      display: inline;
      margin-right: -6px;

      a#navbar-break2 {
        display: none;
      }

      a.nav-logo {
        width: 50px;
        padding: 0 5px 0 10px;
        vertical-align: middle;

        display: inline-block;
        color: $navbar-text-colour;
        text-decoration: none;
        font-size: 150%;
        font-weight: 800;        
      }

      a.nav-button {
        height: 30px;
        width: 80px;
        padding: 10px 5px 0 5px;

        display: inline-block;
        color: $navbar-text-colour;
        text-decoration: none;
        transition: 0.4s;
      }

      a.nav-button:hover {
        border-bottom: 3px solid $navbar-text-colour;
        height: 27px;
      }
    }
  }
}

#footer {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 30px;

  background-color: $footer-colour;
  color: #FFFFFF;
}

#social-mini {
  a {
    img {
      vertical-align: middle;
    }
  }
}

@media only screen and (max-width: 600px) {
  #copyright {
    width: 100%;
    text-align: center;
  }

  #footer-social {
    display: none;
  }
}


// Resize nav bar and move content based on wrapping of navbar buttons
@media only screen and (max-width: 595px) {
  #navbar {
    height: 80px;
  }

  h1 {
    padding-top: 50pt;
  }
}

@media only screen and (max-width: 330px) {
  #navbar {
    height: 120px;
  }

  h1 {
    padding-top: 80pt;
  }
}

@media only screen and (max-width: 720px), only screen and (max-device-width: 480px) {
  h1 {
    width: 100%;
  }

  #outer {
    width: 99%;
  }
}

#wide-container {
  display: table;
  height: 100%;
  width: 100%;  
}

#canvas-container {
  height: auto;
  width: 95%;

  overflow: scroll;
}

#social-large {
  text-align: center;

  a {
    img {
      position: relative;
      width: 30%;
    }
  }
}
