---
---
@charset "utf-8";

$header-colour:     #7d0404;
$nav-colour:        #111111;
$background-colour: #fffffc;
$text-colour:       #111111;
$copyright-color:   #b58900;


$header-width: 500px;
$body-width:   600px;

.centre {
	text-align: center;
}

html, body {
	height: 100%;
	margin: 0;
	color: $text-colour;
	background-color: $background-colour;
}
body {
	font-size: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em;
}
footer, .push {
	height: 3em;
}
footer {
	background-color: $header-colour;
	line-height: 3em;
	font-size: 1rem;
	padding: 0 20px;
	text-align: right;
	.copyright {
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		font-family: 'Cantarell', sans-serif;
		font-weight: 700;
		color: $copyright-color;
	}
	.social-small {
		display: inline-block;
	}
}
.fb-logo{color:#3b5998}
.tw-logo{color:#55acee}
.gp-logo{color:#dd4b39}
.li-logo{color:#0077b5}
.gh-logo{color:#333333}
.ic-logo{color:#bf252b}
.gm-logo{color:#376aba}
.bg-logo{color:#ffffff}
header {
	width: 100%;
	#site-hdr-ttl-bar {
		padding: 2em 0 2em 0;
		background-color: $header-colour;
		#site-hdr-ttl {
			background-color: $background-colour;
			border-radius: 1px;
			max-width: $header-width;
			margin: 0 auto;
			> * {
				font-family: 'Cantarell', sans-serif;
				text-align: center;
	    		text-transform: uppercase;
	   		}
			.site-hdr-ttl-txt {
				font-weight: 700;
				font-size: 3rem;
	    		padding: 0.5em 0 0.2em 0;
			}
			.site-hdr-auth-txt {
				font-weight: 400;
				font-size: 18pt;
				padding-bottom: 1em;
			}
			#site-hdr-ttl-lng, #site-hdr-auth-lng {
				display: block;
			}
			#site-hdr-ttl-shrt, #site-hdr-auth-shrt {
				display: none;
			}
		}
	}
	#site-hdr-nav {
		text-align: center;
		ul {
			padding: 0;
			li {
				display: inline-block;
				padding: 0 0.1em;
				color: $nav-colour;
				a {
					font-family: 'Cantarell', sans-serif;
					font-weight: 700;
					font-size: 1.1rem;
					color: $nav-colour;
					text-decoration: none;
					text-transform: uppercase;
				}
				a:after {
					display: block;
					content: "";
					border: 0.5px solid $nav-colour;
					transform: scaleX(0);
					margin: 0 auto;
					transition: all 0.2s ease-in-out;
				}
				a:hover:after {
					transform: scaleX(1);
				}
			}
		}
	}
}

#site-content {
	display: block;
	padding: 1em 0;
	font-family: 'Open Sans', sans-serif;
	h1, h2, h3, h4 {
		font-family: 'Cantarell', sans-serif;
	}
	p {
		text-align: justify;
	}
	a, a:hover, a:visited {
		text-decoration: none;
	}
}
#site-content > * {
	display: block;
	max-width: $body-width;
	margin: 1em auto;
}
#site-content > .lightbox {
	position: relative;
	margin: 0;
	max-width: 100%;
	text-align: center;

	background-color: #e8e8e8;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	img, iframe {
		max-width: 100%;
	}

	.caption {
		text-align: center;
		padding-top: 0.5em;
		font-size: 12pt;
	}

	.content, .caption {
		margin: 0 auto;
		display: block;
		max-width: $body-width;
	}
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
  border-radius: 3px;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}
@media only screen 
and (max-width: 540px) {
	header #site-hdr-ttl {
		margin: 0 20px;
		#site-hdr-ttl-lng, #site-hdr-auth-lng {
			display: none;
		}
		#site-hdr-ttl-shrt, #site-hdr-auth-shrt {
			display: block;
		}
	}
}

@media only screen
and (max-width: 640px) {
	#site-content {
		margin: 0 20px;
	}
}

@media only screen
and (-webkit-min-device-pixel-ratio: 2),
ony screen and (min-resolution: 192dpi) {
	#site-content > *,
	#site-content > .lightbox .content,
	#site-content > .lightbox .caption {
		max-width: 1200px;
	}
	header {
		padding-top: 20px;
	}
	header #site-hdr-ttl, #site-content {
		max-width: 1200px;
		margin: 0 20px;
	}
	header #site-hdr-ttl .site-hdr-ttl-txt {
		font-size: 6rem;
	}
	header #site-hdr-nav ul li a {
		font-size: 2.0rem;
	}
	.wrapper {
		margin: 0 auto -4em;
	}
	footer, .push {
		height: 4em;
	}
	footer {
		background-color: $header-colour;
		line-height: 4em;
		.copyright {
			font-size: 1.5rem;
		}
		.social-small {
			display: none;
		}
	}
}


