<footer>
  <span class="copyright">Copyright &copy; 2016 Matthew Bedder</span>
  <div class="social-small">
    <a href="https://www.twitter.com/bedder" class="fa-stack">  
      <i class="tw-logo fa fa-circle fa-stack-2x"></i>
      <i class="bg-logo fa fa-twitter fa-stack-1x"></i>
    </a>
  </div>
  <div class="social-small">
    <a href="https://facebook.com/bedder" class="fa-stack"> 
      <i class="fb-logo fa fa-circle fa-stack-2x"></i>
      <i class="bg-logo fa fa-facebook fa-stack-1x"></i>
    </a>
  </div>
  <div class="social-small">
    <a href="https://www.linkedin.com/in/bedder/" class="fa-stack"> 
      <i class="li-logo fa fa-circle fa-stack-2x"></i>
      <i class="bg-logo fa fa-linkedin fa-stack-1x"></i>
    </a>
  </div>
  <div class="social-small">
    <a href="https://www.github.com/bedder/" class="fa-stack">
      <i class="gh-logo fa fa-circle fa-stack-2x"></i>
      <i class="bg-logo fa fa-github-alt fa-stack-1x"></i>
    </a>
  </div>
  <div class="social-small">
    <a href="https://icheckmovies.com/profiles/bedder/" class="fa-stack">
      <i class="ic-logo fa fa-circle fa-stack-2x"></i>
      <i class="bg-logo fa fa-check fa-stack-1x"></i>
    </a>
  </div>
  <div class="social-small">
    <a href="mailto:matthew@bedder.co.uk" class="fa-stack"> 
      <i class="gm-logo fa fa-circle fa-stack-2x"></i>
      <i class="bg-logo fa fa-envelope fa-stack-1x"></i>
    </a>
  </div>
</footer>