			<div class="container">
				<nav id="footer">
					<div id="copyright">
						Copyright &copy; Matthew Bedder 2014
					</div>
					<div id="footer-social">
						<div id="social-mini">
							<a href="https://www.facebook.com/bedder/"><img src="{{ site.baseurl }}/resources/social/facebook-25.png" width="25" height="25" alt="Facebook" title="Facebook"/></a>
							<a href="https://www.twitter.com/bedder/"><img src="{{ site.baseurl }}/resources/social/twitter-25.png" width="25" height="25" alt="Twitter" title="Twitter"/></a>
							<a href="https://www.google.com/+MatthewBedder/"><img src="{{ site.baseurl }}/resources/social/google-25.png" width="25" height="25" alt="Google Plus" title="Google Plus"/></a>
							<a href="https://www.linkedin.com/pub/matthew-bedder/80/2a7/a51/"><img src="{{ site.baseurl }}/resources/social/linkedin-25.png" width="25" height="25" alt="LinkedIn" title="LinkedIn"/></a>
							<a href="https://www.github.com/bedder/"><img src="{{ site.baseurl }}/resources/social/github-25.png" alt="Github" width="25" height="25" title="Github"/></a>
							<a href="https://icheckmovies.com/profiles/bedder/"><img src="{{ site.baseurl }}/resources/social/icheck-25.png" width="25" height="25" alt="iCheckMovies" title="iCheckMovies"/></a>
							<a href="{{ site.mailto }}"><img src="{{ site.baseurl }}/resources/social/mail-25.png" width="25" height="25" alt="Email" title="Email"/></a>
						</div>
						<div id="social-mini-text">
							Find me on
						</div>
					</div>
				</nav>
			</div>