			<div class="container">
				<nav id="footer">
					<div id="copyright">
						Copyright &copy; Matthew Bedder 2014
					</div>
					<div id="footer-social">
						<div id="social-mini">
							<a href="https://www.facebook.com/bedder/"><img src="{{ site.baseurl }}/resources/social/32/facebook.png" alt="Facebook" title="Facebook"/></a>
							<a href="https://www.twitter.com/bedder/"><img src="{{ site.baseurl }}/resources/social/32/twitter.png" alt="Twitter" title="Twitter"/></a>
							<a href="https://www.google.com/+MatthewBedder/"><img src="{{ site.baseurl }}/resources/social/32/googleplus.png" alt="Google Plus" title="Google Plus"/></a>
							<a href="https://www.linkedin.com/pub/matthew-bedder/80/2a7/a51/"><img src="{{ site.baseurl }}/resources/social/32/linkedin.png" alt="LinkedIn" title="LinkedIn"/></a>
							<a href="https://www.github.com/bedder/"><img src="{{ site.baseurl }}/resources/social/32/github.png" alt="Github" title="Github"/></a>
							<a href="https://icheckmovies.com/profiles/bedder/"><img src="{{ site.baseurl }}/resources/social/32/icheck.png" alt="iCheckMovies" title="iCheckMovies"/></a>
							<a href="{{ site.mailto }}"><img src="{{ site.baseurl }}/resources/social/32/email.png" alt="Email" title="Email"/></a>
						</div>
						<div id="social-mini-text">
							Find me on
						</div>
					</div>
				</nav>
			</div>