				<div id="navbar">
					<a href="{{ site.baseurl }}/" class="navbar-title">
						<div class="vertical-align">
							Matthew Bedder
						</div>
					</a>
					<a href="{{ site.baseurl }}/" class="navbar-button navbar-home">
						<div class="vertical-align">
							Home
						</div>
					</a>
					<a href="{{ site.baseurl }}/about" class="navbar-button navbar-about">
						<div class="vertical-align">
							About
						</div>
					</a>
					<a href="{{ site.baseurl }}/posts" class="navbar-button navbar-posts">
						<div class="vertical-align">
							Posts
						</div>
					</a>
					<a href="{{ site.baseurl }}/research" class="navbar-button navbar-research">
						<div class="vertical-align">
							Research
						</div>
					</a>
					<a href="{{ site.baseurl }}/games" class="navbar-button navbar-games">
						<div class="vertical-align">
							Games
						</div>
					</a>
					<a href="{{ site.baseurl }}/contact" class="navbar-button navbar-contact">
						<div class="vertical-align">
							Contact
						</div>
					</a>
				</div>
				<div id="navmenu">
					<div id="menu-show-button">&blacktriangleleft;</div>
					<div id="menu">
						<div id="background-mask"></div>
						<div id="menu-sidebar">
							<a href="{{ site.baseurl }}/" class="menu-button navbar-home">
								<div class="vertical-align">
									Home
								</div>
							</a>
							<a href="{{ site.baseurl }}/about" class="menu-button navbar-about">
								<div class="vertical-align">
									About
								</div>
							</a>
							<a href="{{ site.baseurl }}/posts" class="menu-button navbar-posts">
								<div class="vertical-align">
									Posts
								</div>
							</a>
							<a href="{{ site.baseurl }}/research" class="menu-button navbar-research">
								<div class="vertical-align">
									Research
								</div>
							</a>
							<a href="{{ site.baseurl }}/games" class="menu-button navbar-games">
								<div class="vertical-align">
									Games
								</div>
							</a>
							<a href="{{ site.baseurl }}/contact" class="menu-button navbar-contact">
								<div class="vertical-align">
									Contact
								</div>
							</a>
						</div>
					</div>
				</div>
