<head>
	<meta charset="utf-8">
	<meta content="user-scalable=no" name="viewport">
	<title>{% if page.title %}{{ page.title | escape }} - {% endif %}Matthew Bedder</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">{% if page.css %}
	<style>{{ page.css }}</style>{% endif %}
	<link href="https://fonts.googleapis.com/css?family=Cantarell:400,700|Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
	<script>
hljs.initHighlightingOnLoad();
	</script>
</head>