<!-- Start of head -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />
	<title>Matthew Bedder{% if page.title %} - {{ page.title }}{% endif %}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
{% if page.css %}
	<style>{{ page.css }}</style>
{% endif %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
{% if site.tags != "" %}
{% include collecttags.html %}
{% endif %}
</head>
<!-- End of head -->