<header>
  <div id="site-hdr-ttl">
    <div id="site-hdr-ttl-lng" class="site-hdr-ttl-txt">
      Hello, world
    </div>
    <div id="site-hdr-ttl-shrt" class="site-hdr-ttl-txt">
      Hello
    </div>
    <div id="site-hdr-auth-lng" class="site-hdr-auth-txt">
      Matthew Bedder
    </div>
    <div id="site-hdr-auth-shrt" class="site-hdr-auth-txt">
      M. Bedder
    </div>
  </div> <!-- site-hdr-ttl -->
  <div id="site-hdr-nav">
    <ul id="site-hdr-nav-lst">
      <li><a href="/">Home</a></li>
      <li>•</li>
      <li><a href="/about">About</a></li>
      <li>•</li>
      <li><a href="/posts">Posts</a></li>
      <li>•</li>
      <li><a href="/games">Games</a></li>
      <li>•</li>
      <li><a href="/research">Research</a></li>
      <li>•</li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div> <!-- site-hdr-nav -->
</header> <!-- site-hdr -->