	<head>
		<title>
{% if page.title %}
			{{ page.title }} - Matthew Bedder
{% else %}
			Matthew Bedder
{% endif %}
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<link href='https://fonts.googleapis.com/css?family=Fira+Sans:300,400' rel='stylesheet' type='text/css'>
{% if page.additionalstyle %}
<!-- ADDITIONAL STYLE START!-->
{{ page.additionalstyle }}
<!-- ADDITIONAL STYLE END !-->
{% endif %}
	</head>