	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="{{ page.author }}">
	<meta name="viewport" content="width=device-width,user-scalable=no">

	<link href="/css/site.css" rel="stylesheet" type="text/css">
	<link href="/css/project-box.css" rel="stylesheet" type="text/css">
{% if page.raphael %}	<link href="/css/raphael.css" rel="stylesheet" type="text/css">
{% endif %}	<link href='http://fonts.googleapis.com/css?family=Hind:400,700' rel='stylesheet' type='text/css'>
