		<meta name="description" content="{{ page.description }}">
		<meta name="author" content="{{ page.author }}">
		<meta name="viewport" content="width=device-width,user-scalable=no">
{% if page.customcss == true %}
{% else %}
		<link href="/css/site.css" rel="stylesheet" type="text/css">
		<link href="/css/header.css" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
{% endif %}
		<link href="/posts/feed.xml" rel="alternate" type="application/rss+xml" title="Matthew Bedder - Posts">
{% if page.additionalstyle %}
<!-- ADDITIONAL STYLE START!-->
{{ page.additionalstyle }}
<!-- ADDITIONAL STYLE END !-->
{% endif %}