<!-- Start of nav -->
<nav>
	<a href="{{ site.baseurl }}/">
		<img src="{{ site.baseurl }}/resources/logo/logo_0.svg" style="max-width: 15rem;margin-bottom: 0;margin-top:18px;"/>
	</a>
	<ul id="nav-links">
		<li><a href="{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.baseurl }}/about">About</a></li>
		<li><a href="{{ site.baseurl }}/misc">Misc</a></li>
	</ul>
	<ul id="social-links">
		<li><a href="https://twitter.com/bedder"><i class="fab fa-twitter-square"></i></a></li>
		<li><a href="https://linkedin.com/in/bedder"><i class="fab fa-linkedin"></i></a></li>
		<li><a href="https://github.com/bedder"><i class="fab fa-github-square"></i></a></li>
		<li><a href="https://flickr.com/bedder"><i class="fab fa-flickr"></i></a></li>
		<li><a href="mailto:matthew@bedder.co.uk"><i class="fas fa-envelope-square"></i></a></li>
	</ul>
</nav>
<!-- End of nav -->
