<!DOCTYPE html>
<html>
	<head>
		<title>
{% if page.title %}
			{{ page.title }} - Matthew Bedder
{% else %}
			Matthew Bedder
{% endif %}
		</title>
{% include meta.html %}
{% include scripts.html %}
		<link href="/css/about.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="wrap">
			<header>
{% include header.html %}
			</header>
			<main>
				<div id="title-bar">
{%if page.date %}
					<h4>{{ page.date | date_to_string}}</h4>
{% endif %}
{% if page.title %}
					<h1>{{ page.title }}</h1>
{% else %}
					<h1>Matthew Bedder</h1>
{% endif %}
				</div>
				<div class="content">
{% if page.showmug %}
					<center>
						<img class="profile-large" src="{{ site.baseurl }}/resources/MattBedder-256x256.png" alt="Picture of Matthew Bedder"/>
					</center>
{% endif %}
					<div class="profile_options">
						<div class="profile_option"><a href="{{ site.baseurl }}/about/">About me</a></div>
						<div class="profile_option"><a href="{{ site.baseurl }}/about/skills">Skills</a></div>
						<div class="profile_option"><a href="{{ site.baseurl }}/about/projects">Projects</a></div>
					</div>
					{{ content }}
					</div>
				</div>
			</main>
		</div>
		<script>
			function toggleMenu() {
				console.log("TOGGLE");
				var mask = $('#background-mask');
				var menu = $('#menu');
				var side = $('#menu-sidebar');

				mask.toggleClass('active');
				menu.toggleClass('active');
				side.toggleClass('active');
			}
			$("#menu-show-button").click(function() {
				toggleMenu();
			});
			$("#background-mask").click(function() {
				toggleMenu();
			});
			$("#title-bar")[0].style.animationDelay = -Math.random()*120 + "s";
		</script>
		<footer>
{% include footer.html %}
		</footer>
	</body>
</html>