<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}
			{{ page.title }} - Matthew Bedder{% else %}
			Matthew Bedder{% endif %}
		</title>
{% include meta.html %}{% if page.raphael or page.xcom %}
{% include scripts.html %}{% endif %}
	</head>
	<body>
		<header>
{% include header.html %}
		</header>
		<main>
			<div class="layout-outer">
				<div class="layout-inner">{% if page.customsitetitle %}{% elsif page.title %}
					<h2>{{ page.title }}</h2>{% endif %}
{{ content }}
					<br/><br/><br/>
				</div>	
			</div>
		</main>
		<footer>
{% include footer.html %}
		</footer>
	</body>
</html>
