---
layout: basic
---

<!-- LAYOUT POST -->
<article>
{% if page.notitle %}
{% else %}
	<h1><a href="{{ post.url }}">{{ page.title }}</a></h1>
{% endif %}
	<div class="date"><a href="{{ post.url }}">{{ page.date | date: "%d %b %Y" }}</a></div>
	{{ page.content }}
{% if page.tags %}
	<div class="meta meta-tags"><b>Tags:</b> [{% for tag in page.tags %}{% capture tag_name %}{{ tag }}{% endcapture %}<a href="/tag/{{ tag_name }}">{{ tag_name }}</a>{% endfor %}]</div>
{% endif %}
</article>
