<!DOCTYPE html>
<html>
	<head>
		<title>
{% if page.title %}
			{{ page.title }} - Matthew Bedder
{% else %}
			Matthew Bedder
{% endif %}
		</title>
{% include meta.html %}
{% include scripts.html %}
	</head>
	<body>
		<div id="wrap">
			<header>
{% include header.html %}
			</header>
			<main>
				<div class="layout-outer">
					<div class="layout-inner">
{% if page.customsitetitle %}
{% elsif page.title %}
						<h2>{{ page.title }}</h2>
{% endif %}
					</div>
				</div>
				<div id="wide-container">
{{ content }}
				</div>
			</main>
		</div>
		<footer>
{% include footer.html %}
		</footer>
	</body>
</html>